{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Авто-блог</title>
    <link rel="shortcut icon" type="image/png" href="..\images\image\favicon.ico"/>
<meta name="keywords" content="free css templates, blog design, 2-column, web design, CSS, HTML" />
<meta name="description" content="Design Blog - free css template, 2-column blog layout" />
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    <div id="templatemo_header">

        <div id="site_title">
            <a href=" " target="_parent"><span>Blog</span>

                <span class="tagline">Авто-блог</span>
            </a>
        </div> <!-- end of site_title -->

        <div id="search_box">
            <form action="#" method="get">
                <input type="text" value="Enter keyword here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
              <input type="submit" name="Search" value="Search" id="searchbutton" title="Search" />
            </form>
        </div>


        <div class="cleaner"></div>

    </div> <!-- end of header -->

    <div id="templatemo_menu">
        <ul>
            <li><a href="/" class="current"><span></span>Главная</a></li>
            <li><a href="/admin"><span></span>Админ</a></li>
            <li><a href="https://www.linkedin.com/in/igor-pravdin-763qa/"><span></span>LinkedIn</a></li>
        </ul>

        <div id="register_box">
        	Already Registered? Click <a href="#" class="signup">Here</a> | <a href="#" class="new_reg">Register</a>
        </div>
    </div> <!-- end of templatemo_menu -->


        <div id="templatemo_content">
        	<div class="post_box">
                <h2><a href="#">{{ post.title }}</a></h2>
                <div class="news_meta">{{ post.date }}
                <div class="image_wrapper"><a href="http://www.templatemo.com/page/1" target="_parent"><img src="{{ post.image.url}}" width=100% alt="image 1" /></a></div>
              <p align="justify">{{ post.descriptions }}</p>
                    <p align="right">Автор: {{ post.author }}</p>
              <div class="cleaner"></div>
            </div>
          </div>

        </div>

        <div id="templatemo_sidebar">
        <div class="form-comment">
            <h3>Оставить комментарий</h3>
            <div>
                <form action="#" method="post">
                <div>
                    <label>Ваш комментарий</label>
                    <textarea name="text_comment"></textarea>
                    </div>
                    <div>
                        <label>Ваше имя*</label>
                    <input type="text" name="name">
                        </div>
                     <div>
                         <label>Ваш Email*</label>
                    <input type="email" name="email">
                         </div>
                     <div>
                         <input type="submit">
                         </div>
                    </form>
            </div>
        </div>
        </div>

    	<div class="cleaner"></div>
    </div>


<div class="cleaner"></div>
</div>




</body>
</html>