{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Авто-блог</title>
    <link rel="shortcut icon" type="image/png" href="..\images\image\favicon.ico"/>
<meta name="keywords" content="free css templates, blog design, 2-column, web design, CSS, HTML" />
<meta name="description" content="Design Blog - free css template, 2-column blog layout" />
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">

    <div id="templatemo_header">

        <div id="site_title">
            <a href="/" target="_parent"><span>Blog</span>

                <span class="tagline">Авто-блог</span>
            </a>
        </div> <!-- end of site_title -->


        <div class="cleaner"></div>

    </div> <!-- end of header -->

    <div id="templatemo_menu">
        <ul>
            <li><a href="/" class="current"><span></span>Главная</a></li>
            <li><a href="/admin"><span></span>Админ</a></li>
            <li><a href="https://www.linkedin.com/in/igor-pravdin-763qa/"><span></span>LinkedIn</a></li>
        </ul>

    </div> <!-- end of templatemo_menu -->


        <div id="templatemo_content">
            {% for i in post_list %}
        	<div class="post_box">

                <h2><a href="{{ i.id }}">{{ i.title }}</a></h2>
                <div class="news_meta">{{ i.date }}
                <div class="image_wrapper"><img src="{{ i.image.url}}" width=100% alt="image 1" /></div>
              <p align="justify">{{ i.descriptions|truncatechars:500 }}<a href="{{ i.id }}" class="continue"> Читать далее ...</a></p>
              <div class="cleaner"></div>
            </div>
            {% endfor %}
          </div>

        </div>

        <div id="templatemo_sidebar">

        </div>

    	<div class="cleaner"></div>


</div>
<div class="cleaner"></div>
</div>




</body>
</html>